{% layout "layout" %}
{% block %}
<ul>
    {% for osPackage in data %}
        <li><a href="/{{ osPackage.name -}}">{{ osPackage.name }}</a></li>
    {% else %}
        The collection is empty.
    {% endfor %}
</ul>
{% endblock %}


